<div class="flex justify-end items-center gap-2" x-data x-show="true">
    {% if can_access('/actividades/asignar_manual') %}    
    <template x-if="['Sin iniciar', 'En proceso'].includes($store.modalData.getField('estatus'))">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/actividades/asignar_manual/${encodeURIComponent($store.modalData.getField('id'))}?return_url=${encodeURIComponent(window.location.href)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Asignar
        </button>
    </template>
    {% endif %}
</div>
