<div class="flex justify-end items-center gap-2" x-data x-show="true">
    <template x-if="['Perfect match','Swipe'].includes($store.modalData.getField('estatus'))">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/clientes/activar/${encodeURIComponent($store.modalData.getField('id'))}?return_url=${encodeURIComponent(window.location.href)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Activar
        </button>
    </template>
    <template x-if="['Perfect match','Swipe'].includes($store.modalData.getField('estatus'))">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/clientes/perdido/${encodeURIComponent($store.modalData.getField('id'))}?return_url=${encodeURIComponent(window.location.href)}`"
            class="btn border text-danger border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-danger bg-primary/10">
            Perdido
        </button>
    </template>
</div>
