<div class="flex justify-end items-center gap-2" x-data x-show="true">
    <template x-if="$store.modalData.record.estatus === 'Contacto inicial'">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/clientes/en_proceso/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            En proceso
        </button>
    </template>
    <template x-if="$store.modalData.record.estatus === 'En proceso'">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/clientes/ganado/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Ganado
        </button>
    </template>  
    <template x-if="['Contacto inicial', 'En proceso'].includes($store.modalData.record.estatus)">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/clientes/perdido/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-danger border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-danger bg-primary/10">
            Perdido
        </button>
    </template>
</div>
