<div class="flex justify-end items-center gap-2" x-data x-show="true">
    <template x-if="$store.modalData.record">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/report_queries/movimientos_de_cuentas?id_cuenta_de_banco=${encodeURIComponent($store.modalData.getField('id'))}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Movimientos
        </button>
    </template>
</div>
