<div class="flex justify-end items-center gap-2" x-data x-show="true">
    <template x-if="$store.modalData.record.estatus === 'En revisión'">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/transferencias_de_dinero/aprobar/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Aprobar
        </button>
    </template>
    <template x-if="$store.modalData.record.estatus === 'Aprobada'">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/transferencias_de_dinero/realizar/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Realizada
        </button>
    </template>
    <template x-if="['En revisión', 'Aprobada'].includes($store.modalData.record.estatus)">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/transferencias_de_dinero/cancelar/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-danger border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-danger bg-primary/10">
            Cancelar
        </button>
    </template>
</div>
