<div class="flex justify-end items-center gap-2" x-data x-show="true">
    <template x-if="$store.modalData.record.estatus === 'Pendiente'">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/ventas/create-checkout-session/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-primary border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-primary bg-primary/10">
            Cobrar
        </button>
    </template>
    <template x-if="['Pendiente'].includes($store.modalData.record.estatus)">
        <button type="submit"
            @click.stop.prevent="window.location.href = `/ventas/cancelar/${encodeURIComponent($store.modalData.record.id)}`"
            class="btn border text-danger border-transparent rounded-md transition-all duration-300 hover:text-white hover:bg-danger bg-primary/10">
            Cancelar
        </button>
    </template>
</div>
