<!--Dynamic tables variables-->
{% set no_tabs= ['logs_auditoria','ai_queries','archivos','inventario','productos_en_recepciones_de_compras','servicios_en_facturas','facturas_en_ingresos','gastos_y_compras_en_pagos'] %}
{% set no_tab_count = ['No transferible','Cobrada','Cerrado','Cerrada','Finalizada','Finalizado','Cancelado','Cancelada','Pagado','Pagada','Realizada','Realizado','Perdido','Inactivo'] %}
{% set no_add_button = ['logs_auditoria','ai_queries','ventas','clientes','servicios_en_facturas','briefs_de_clientes','facturas_en_ingresos','logs_auditoria','inventario'] %}
{% set no_edit_button = ['logs_auditoria','ai_queries','inventario','actividades','briefs_de_clientes','servicios_en_facturas','gastos_en_pagos','facturas_en_ingresos','ventas','servicios_en_ventas'] %}
{% set date_range_search = ['fecha_venta','fecha_orden','fecha_de_gasto','fecha_de_ajuste','fecha_de_transferencia','fecha','fecha_hora','fecha_pago']  %}
{% set percentage_format_columns = ['descuento_porcentaje'] %}
{% set money_format_columns=['balance','sueldo_bruto','sueldo_bruto_real','total_deducciones','deduccion_imss','deduccion_isr','bono','ajuste','sueldo_neto','importe_descuento','descuento','importe_pagado','subtotal','importe_total','importe','importe_restante','precio_unitario','iva','costos_adicionales'] %}

{% set purple_badge_values = ['En revisión','Pendiente','Swipe','Sin iniciar','Con cambios'] %}
{% set primary_badge_values = ['Recibida parcial','En proceso','Pagado parcial','En tránsito'] %}
{% set success_badge_values = ['Aprobada','Aprobado','Activo','Confirmada','Perfect match'] %}
{% set warning_badge_values = [] %}
{% set danger_badge_values = [] %}
{% set gray_badge_values = ['Cancelada','Recibida','Cerrado','Inactivo','Contestado','Finalizada','Cobrada','Realizada','Realizado','Pagado','Pagada'] %}

{% set calendar_titles = {'agenda':['hora_inicio']} %}

<!--Dynamic form variables-->
{% set columns_foreign_options= ['espacio','tipo_de_descuento','regimen_fiscal','tipo_de_iva','unidad_de_medida','inventariable','prioridad','estatus', 'genero','estado_civil','tipo_de_cuenta','tipo_de_ajuste','forma_de_pago','uso_de_cfdi','metodo_de_pago'] %}
{% set date_time_columns=[] %}
{% set date_columns=['fecha_entrega_estimada','fecha_pago'] %}
{% set time_columns=['hora_inicio','hora_fin'] %}
{% set file_columns=[] %}

{% macro id_proyecto(option) %}
    {{ option.id_visualizacion ~ ' - ' ~ option.nombre }}
{% endmacro %}

{% macro id_compra(option) %}
    {{ option.id_visualizacion ~ ' - ' ~ option.proveedor.nombre }}
{% endmacro %}

{% macro id_pregunta_de_brief(option) %}
    {{ option.id_visualizacion ~ ' - ' ~ option.pregunta }}
{% endmacro %}

{% macro id_venta(option) %}
    {{ option.id_visualizacion ~ ' - ' ~ option.cliente.nombre_completo }}
{% endmacro %}

{% macro id_descuento(option) %}
    {{ option.id_visualizacion ~ ' - ' ~ option.codigo_de_descuento }}
{% endmacro %}

{% macro id_actividad(option) %}
    {{ option.id_visualizacion ~ ' - ' ~ option.actividad_base.nombre }}
{% endmacro %}

{% macro id_pago_de_nomina(option) %}
    {{ option.id_visualizacion ~ ' - ' ~ option.fecha_inicio }}
{% endmacro %}

<!--Dynamic two table variables-->
{% set textarea_columns= ['notas'] %}
{% set number_columns = ['cantidad_ordenada','cantidad','cantidad_recibida'] %}
{% set text_columns = ['respuesta'] %}
{% set allow_new_value_dropdowns = [] %}
